.main-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column ;
    justify-content: first baseline;
    align-items: center;
    overflow-x: hidden;
    position: fixed; 
}
.navigationbar{
    width: 98.8vw;
    position: fixed;
    z-index: 1;
}
.wrapper::after{
    background-image:url('/src/pages/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: scroll;
    opacity: 0.8;
   
}

    
.wrapper2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 150px;
    gap: 200px;
}
.container{
    display: flex;
    height: 380px;
    width: 450px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    
}
.container2{
    display: flex;
    height: 380px;
    width: 300px;
    color: rgb(0, 0, 0);
    font-size: 20px;;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}
.item1{

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 86, 192);


}
.item2{

    width: 60%;
    height: 40%;
    color: rgb(0, 0, 0);
    font-size: 20px;;
    font-weight: 600;
}
.item3{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
#bt1{
    font-size: 20px;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border-width: 1px;
    cursor: pointer;
    background-color: rgba(80, 87, 145, 0.212);
    color: rgb(67, 70, 117);
    margin-top: 30%;
}


#bt1:hover {
    background-color: rgb(85, 103, 141);
    color: white;
    cursor: pointer;
  }

.horizontal_line { 
    background-color: rgb(53, 59, 58); 
    width: 90%; 
    height: 3px; 
    line-height: 80%; 
} 
#logo{
    background-image: url('/src/pages/img/logo.png');
    width: 200px;
    height: 100px;
    background-size: contain; /* Adjust the background size */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image horizontally and vertically */
    transition: transform 0.5s ease; 
}
#logo:hover {
    transform: scale(1.3);
  }
.second-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2%;

  }
.wrapper3{
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(93, 67, 136);
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    flex-direction: column;
    top: 8%;
}
.wrapper3para{
    display: flex;
    color: aliceblue;
    width: 50%;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}
.wrapper3topic{
    color: aliceblue;
    font-size: 22px;

}
.wrapper4{
    display: flex;
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 400px;
    position: relative;
    text-align: justify;
    align-items: center;
    justify-content: center;
    top: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.wrapper4para{
    width: 80%;
}
.wrapper5{
    display: flex;
    background-color: rgb(91, 116, 228);
    width: 100%;
    height: auto;
    position: relative;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    flex-direction: column;
}
.wrapper5para{
    font-size: 40px;
    color: aliceblue;
    width: 70%;
    text-align: center;
}
.wrapper5logo{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-image:  url('/src/pages/img/double quatation.png');
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-dodge;
    margin-top: 2%;
}
.wrapper5para1{
    margin-left: 55%;
    top: 1%;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    text-align: center;
}
.footer{
    margin-top: 10%;
}
/* .second-wrapper{
    overflow: hidden;
} */

  @media (max-width: 768px){
    .wrapper2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin-top: 20px;
    }
    .container{
        width: 350px;
        gap: 0px;
    }
    .container2{
        width: 350px;
        gap: 0px;
        height: 50%;
    }
    .item2{

    height: 60%;
        
    }
    }