.main-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column ;
    justify-content: first baseline;
    align-items: center;
    overflow-x: hidden;
    position: fixed; 
}
.navigationbar{
    width: 98.8vw;
    position: fixed;
    z-index: 1;
}
.wrapper::after{
    background-image:url('/src/pages/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100%;
    opacity: 0.8;
   
}

    
.wrapper2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 150px;
    gap: 200px;
}
.container{
    display: flex;
    height: 380px;
    width: 450px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    
}
.container2{
    display: flex;
    height: 380px;
    width: 300px;
    color: rgb(0, 0, 0);
    font-size: 20px;;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}
.item1{

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 86, 192);


}
.item2{

    width: 60%;
    height: 40%;
    color: rgb(0, 0, 0);
    font-size: 20px;;
    font-weight: 600;
}
.item3{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
#bt3{
    font-size: 20px;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border-width: 1px;
    cursor: pointer;
    background-color: rgba(80, 87, 145, 0.212);
    color: rgb(67, 70, 117);
}


#bt3:hover {
    background-color: rgb(85, 103, 141);
    color: white;
    cursor: pointer;
  }

.horizontal_line { 
    background-color: rgb(53, 59, 58); 
    width: 90%; 
    height: 3px; 
    line-height: 80%; 
} 
#logo{
    background-image: url('/src/pages/img/logo.png');
    width: 200px;
    height: 100px;
    background-size: contain; /* Adjust the background size */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image horizontally and vertically */
    transition: transform 0.5s ease; 
}
#logo:hover {
    transform: scale(1.3);
  }
.home-second-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 0%;

  }

.footer{
    margin-top: 10%;
}
/* .second-wrapper{
    overflow: hidden;
} */

  @media (max-width: 768px){
    .wrapper2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin-top: 20px;
    }
    .container{
        width: 350px;
        gap: 0px;
    }
    .container2{
        width: 350px;
        gap: 0px;
        height: 50%;
    }
    .item2{

    height: 60%;
        
    }
    }