
body::-webkit-scrollbar {
  display: none;
  height: 2000px;

 
}
.background2 {
   background-image: url('/src/pages/img/Untitled-1.png');
    background-size: cover;
    /* background-position-x: center;
    background-position-y: center; */
    height: 400vh;
    display: flex;
    align-items: center;
    /* justify-content:top; */
    position: absolute;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    background-attachment: fixed;
    
  
    
  
   }
  .navbar{
    width: 100vw;
    position: fixed;
   
   
  }



.questions {
  /* background-color: rgba(255, 255, 255, 0.663); 
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 100px rgba(7, 30, 79, 0.904);
  width: 80%;
  height:80;
  border-style: solid;
  border-color: #161C84;
  border-width: 0px;
  overflow: auto;
  margin-top: 30px;
  font-size: 20px;
  text-align: left; */

  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(53, 103, 211, 0.904);
  width: 80%;
  /* border-style: solid; */
  /* border-color: #161C84; */
  /* border-width: 3px; */
  height: 55%;
  /* overflow: auto; */
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0.558);
 
 
   
   }
  
  .header{
  
    margin: 80px;
    color: #161C84;
    font-family: Jomhuria;
    font-size: 80px;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
  }
  
  input {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    
  }
  
  

  
  
  
 
  .Result{
    background-color:#161C84;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 130px;
    padding-top: 9px;
   
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 70px;

  }
  