/* body::-webkit-scrollbar {
  display: none;                      /* This is used to hide scroll bar*/
  /* height: 2000px;
} */  

.background2{
  background-image: url('/src/pages/img/imgques.png');
  background-color: #b6b9fb;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  flex-direction: column;
  /* gap: 30px; */
  justify-content: flex-start;
  display: flex;
}
.questions{
  display: flex;
  flex-direction: column;
}



.questions div{
  /* Create a box for each question */
  border: 1px solid #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 30px; /*  Add rounded corners */
  gap: 10px;
  position: relative;
  left: 100px;
  width: 1300px;
  top: 60px;
  background-color: #e9e9e993;
}

/* Style the question text */
.questions div p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the options */
.questions div label {
  display: block;
  margin-bottom: 5px;
}

/* Style the radio buttons */
.questions div input[type="radio"] {
  margin-right: 5px;
}

/* Optional: Add background color to selected options */
.questions div input[type="radio"]:checked + label {
  background-color: #ffffff3d;
}

.header{
  text-align: center;
  color: #161C84;
  font-family: Jomhuria;
  font-size: 40px;
  position: relative;
  margin-top: 50px;
}



  

.navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
  
   
}

.rebutton{
  background-color:#161C84;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 130px;
  padding-top: 9px;
  height: 60px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;
  margin-left: 45%;
 

}
.error-question{
  color: red;
  position: relative;
  margin-top: 50px;
  margin-left: 41%;
  font-size: 20px;
  font-weight: bold;

  
}

.questions div {
 
  animation: fadeIn 1.2s ease-in-out;  /* Add this line */
}
  
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.questions div:nth-child(1) {
  animation-delay: 0.8s;
}
.questions div:nth-child(2) {
  animation-delay: 1.4s;
}
.questions div:nth-child(3) {
  animation-delay: 2.6s;
}
.questions div:nth-child(4) {
  animation-delay: 3.8s;
}
.questions div:nth-child(5) {
  animation-delay: 4.0s;
}
.questions div:nth-child(6) {
  animation-delay: 5.2s;
}
.questions div:nth-child(7) {
  animation-delay: 6.4s;
}
.questions div:nth-child(8) {
  animation-delay: 7.6s;
}
.questions div:nth-child(9) {
  animation-delay: 8.8s;
}
.questions div:nth-child(10) {
  animation-delay: 9.0s;
}


  
  
  
