.head{
    position: absolute;
    margin-top:13%;
    margin-left: 61%;
    font-size: large;
}

.paragraph{
    background-color: rgb(181, 189, 189);
    position: absolute;
    margin-top:21%;
    margin-left: 55%;
    margin-Right:15%;
    text-align: center;
    font-size: 20px;
    
}

.button1{
    position: absolute;
    margin-top:33%;
    margin-left: 74%;
    
}

.button2{
    position: absolute;
    margin-top:33%;
    margin-left: 59%;
}


#bt1{
    width: 3cm;
    height: 1cm;
    border-radius: 1cm;
}
#bt2{
    width: 3cm;
    height: 1cm; 
    border-radius: 1cm;
}
